# Build outputs
build/
out/
*.jar
*.zip
!gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/
gradle/
!gradle/wrapper/

# IDE
.idea/
*.iml
.vscode/
*.code-workspace

# Minecraft
run/
assets/mcai/icon.png
